.elementor-240 .elementor-element.elementor-element-37bf45c{margin-top:-10px;margin-bottom:-10px;}.elementor-240 .elementor-element.elementor-element-076f5e1 > .elementor-widget-container{margin:-10px -10px -10px -10px;}/* Start custom CSS */html, body{
    overflow-x: hidden !important; 
}/* End custom CSS */